# This workflow will upload a Python Package using Poetry when a release is published

name: Publish Python Package (PyPi)

on:
  push:
    branches:
      - main
      
jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Set up Poetry
        uses: Gr1N/setup-poetry@v9

      - name: Build package
        run: |
          poetry build --ansi

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
